.btns {
  display: flex;
  justify-content: space-between;
}

.table {
  border: 1px;
  text-align: center;
}

.table td:first-child,
th:first-child {
  width: 150px;
}

.table th {
  border-bottom: none;
}

.content {
  max-height: 300px;
}
