  <div>
    <h2>User List</h2>
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users | paginate: { itemsPerPage: itemsPerPage , currentPage: p, totalItems: totalItems }">
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
      </tr>
      </tbody>
    </table>
    <!--ngx pagination 적용하였습니다.-->
    <pagination-controls (pageChange)="getPage(p =$event)"></pagination-controls>
  </div>

