#boardWrap{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.deploy-search{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.select-field{
    width: 10em;
}

.search-field{
    width: 28em;
}

button{		
    height: 3em;
    width: 10%;
}

.search_btn{
    margin:0.8em 0em 0em 15px;
}
.list_btn{
    margin : 0.8em 0em 0em 300px;
}
.register_btn{
    margin: 0.8em 0em 0em 20px;
}

.write_btn{
    margin: 0.8em 0em 0em 20px;
}
tbody tr td:not(:last-child){
    cursor:pointer;
    padding-top: 1.4em;
}

.overflow-auto{
    overflow: hidden!important;
}
.paginate-box{
    height: 100px;
    margin-top:30px;
    float: right;
}
.mat-select-placeholder{
    color:black;
}
.mat-form-field{
    margin-bottom:20px;
}
.-mt-16 {
margin-top: -4rem;
}

.bg-app-bar{
    background: white !important;
}

.table td, .table th {
    vertical-align: center !important;
}

.fileBtn {
    height: 3em;
    width: 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 0.4em;
    cursor:pointer;
    background-color: rgb(var(--color-primary));
    margin-right: 2em;
}

.fileBtn a{
    padding: 0.7em 2em 0em 2em;
    text-decoration: none;
    font-weight: 600 !important;
    color: white;
}