<h2 mat-dialog-title *ngIf="data.complete != 'Y' && data.disable">
  {{ data.name }} 님의 일정
  <span>
    <small>< {{ data.teamName }}팀 ></small>
  </span>
</h2>
<h2 mat-dialog-title *ngIf="data.complete != 'Y' && !data.disable">
  나의 일정
  <span>
    <small>< {{ data.teamName }}팀 ></small>
  </span>
</h2>
<h2 mat-dialog-title *ngIf="data.complete == 'Y' && !data.disable">
  나의 완료된 일정
  <span>
    <small>< {{ data.teamName }}팀 ></small>
  </span>
</h2>
<h2 mat-dialog-title *ngIf="data.complete == 'Y' && data.disable">
  {{ data.name }} 님의 완료된 일정입니다
  <span>
    <small>< {{ data.teamName }}팀 ></small>
  </span>
</h2>
<div mat-dialog-content>
  <form>
    <mat-form-field appearance="standard">
      <mat-label>시작 날짜</mat-label>
      <input
        matInput
        type="date"
        name="startDate"
        [(ngModel)]="schedule.startDate"
        [disabled]="data.complete == 'Y' || data.disable"
      />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input
        matInput
        type="time"
        name="startTime"
        [(ngModel)]="schedule.startTime"
        [disabled]="isDisabled || data.complete == 'Y' || data.disable"
      />
    </mat-form-field>
    <br />

    <mat-form-field appearance="standard">
      <mat-label>완료 날짜</mat-label>
      <input
        matInput
        type="date"
        name="endDate"
        [(ngModel)]="schedule.endDate"
        [disabled]="data.complete == 'Y' || data.disable"
      />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input
        matInput
        type="time"
        name="endTime"
        [(ngModel)]="schedule.endTime"
        [disabled]="isDisabled || data.complete == 'Y' || data.disable"
      />
    </mat-form-field>

    <mat-checkbox
      color="primary"
      name="allDay"
      [(ngModel)]="schedule.allDay"
      (click)="disable()"
      [disabled]="data.complete == 'Y' || data.disable"
      style="margin-left: 15px"
      >종일
    </mat-checkbox>
    <br />

    <mat-form-field appearance="standard" class="field">
      <mat-label>일정 제목</mat-label>
      <input
        [(ngModel)]="schedule.scheduleTitle"
        [disabled]="data.complete == 'Y' || data.disable"
        matInput
        name="scheduleTitle"
      />
    </mat-form-field>
    <br />

    <mat-form-field appearance="standard" class="field">
      <mat-label>일정 내용</mat-label>
      <textarea
        class="textarea"
        matInput
        name="scheduleContent"
        [(ngModel)]="schedule.scheduleContent"
        [disabled]="data.complete == 'Y' || data.disable"
      >
        {{ schedule.scheduleContent }}
      </textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    color="primary"
    (click)="onComplete()"
    [disabled]="data.complete == 'Y' || data.disable"
  >
    완료
  </button>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>취소</button>
  <button mat-button (click)="onDelete()" [disabled]="data.disable">
    삭제
  </button>
  <button
    mat-button
    (click)="onUpdate()"
    cdkFocusInitial
    [disabled]="data.complete == 'Y' || data.disable"
    color="primary"
  >
    수정
  </button>
</div>
