#noticeBox{
	width: 80%;
	margin:0 auto 0 auto;
	border-top: 1px solid #d5d5db;
}
#noticeHeader{
	 overflow: hidden;
}
#noticeHeader dt, #noticeHeader dd{
	height: 50px;
	padding:15px 7px;

}
#noticeHeader dt{
	width: 100px;
	text-align: center;
	color:white;
	background-color: rgb(var(--color-primary))
}
#noticeHeader .notice_dt{
	border-top:none;
}
dt,dl{
	float: left;
	font-size: 14px;
}
#noticeTitle{
	width: 70%;
}
#noticeTitle dt,#noticeWriter dt{
	border:1px solid #d5d5db;
	
}
#noticeRegdate{
	width:25%;
}
#noticeTitle dd{
	margin-left: 100px;
	border-bottom:1px solid #d5d5db;
}
#noticeRegdate dt{
	border:1px solid #d5d5db;
}
#noticeRegdate dd{
	text-align: center;
	border-bottom:1px solid #d5d5db;
}
#noticeWriter{
	width: 30%;
	border-right: 1px solid #d5d5db;
}
#noticeWriter dt{
	border-top: none;
	
}
#viewCount{
	
	width: 20%;
}
#viewCount dt{
	border:1px solid #d5d5db;
	border-top: none;
}
#viewCount dd{
	text-align: center;
	border-bottom:1px solid #d5d5db;
}
#noticeWriter dd{
	text-align: center;
	border-bottom:1px solid #d5d5db;
	// background-color: red;
}
#phone{
	border-right: 1px solid #d5d5db;
	width: 30%;
}
#phone dt{
	border:1px solid #d5d5db;
	border-top: none;
}
#phone dd{
	text-align: center;
	border-bottom:1px solid #d5d5db;
}
#noticeUpdate{
	width: 25%;
}
#noticeUpdate dt{
	border:1px solid #d5d5db;
	border-top:none;
}
#noticeUpdate dd{
	
	text-align: center;
	border-bottom:1px solid #d5d5db;
}
#fileBox{
	width: 100%;
	height: 220px;
	margin: 20px auto 0 auto;
	border: 1px solid #d5d5db;
	overflow-y: scroll;
}
#fileBox ul{
	margin-left: 10px;
	margin-top:10px;
}
#fileBox li{
	margin-top:10px;
}
#contentBox{
	margin-top: 20px;
	width: 100%;
	padding: 15px 7px;
	min-height: 200px;
	border: 1px solid #d5d5db;
	//background-color: red;
}
#noticeFooter{
	margin-top:30px;
	width: 100%;
	height: 100px;

}
.btn{
	float: right;
	margin: 0 5px;
}
