<div id="noticeWrap">
	<div id="noticeHeader">
		<dl id="noticeTitle" class="notice_dl">
			<dt>제목</dt>
			<dd>{{notice.title}}</dd>
		</dl>
		<dl id="noticeRegdate" class="notice_dl">
			<dt>등록일</dt>
			<dd>{{notice.regdate}}</dd>
		</dl>
		<dl id="noticeWriter">
			<dt>작성자</dt>
			<dd>{{notice.writer}}</dd>
		</dl>
		<dl id="phone">
			<dt>전화번호</dt>
			<dd>{{notice.phone}}</dd>
		</dl>
		<dl id="noticeUpdate" class="notice_dl">
			<dt>수정일</dt>
			<dd *ngIf="notice.updateDate!=null">{{notice.updateDate}}</dd>
			<dd *ngIf="notice.updateDate==null"> </dd>
		</dl>
	</div>
	<div id="noticeContent">
		<div *ngIf="display=='block'" id="fileBox">
			<ul>
				<li *ngFor="let file of files"><a href="http://localhost:8080/file/files/{{file.name}}">{{file.name}}</a></li>
				
			</ul>
		</div>
		<div id="contentBox">
			<span>{{notice.content}}</span>
		</div>
	</div>
	<div id="noticeFooter">
		<button color="primary" mat-raised-button (click)="selectList()"  class="btn">목록으로</button>
		<button color="primary" mat-raised-button *ngIf="loginUser.id==notice.id" (click)="updateNotice(boardNo)"  class="btn btn_common">수정</button>
		<button color="primary" mat-raised-button *ngIf="loginUser.id==notice.id"  (click)="deleteNotice(boardNo)"  class="btn btn_common">삭제</button>
	</div>
</div>
