<div id="noticeWrap">
	<div id="noticeHeader">
		<dl id="noticeTitle" class="notice_dl">
			<dt>제목</dt>
			<dd>제목입니다.제목입니다.제목입니다.제목입니다.제목입니다.</dd>
		</dl>
		<dl id="noticeRegdate" class="notice_dl">
			<dt>등록일</dt>
			<dd>2021-04-27</dd>
		</dl>
		<dl id="noticeWriter">
			<dt>작성자</dt>
			<dd>나혁진</dd>
		</dl>
		<dl id="phone">
			<dt>전화번호</dt>
			<dd>010-1234-5678</dd>
		</dl>
		<dl id="noticeUpdate" class="notice_dl">
			<dt>수정일</dt>
			<dd>2021-04-27</dd>
		</dl>
	</div>
	<div id="noticeContent">
		<div id="fileBox">
			<ul>
				<li><a href="">1.jpg</a></li>
				<li><a href="">1.jpg</a></li>
				<li><a href="">1.jpg</a></li>
				<li><a href="">1.jpg</a></li>
				<li><a href="">1.jpg</a></li>
				<li><a href="">1.jpg</a></li>
				<li><a href="">1.jpg</a></li>
				<li><a href="">1.jpg</a></li>
				<li><a href="">1.jpg</a></li>
			</ul>
		</div>
		<div id="contentBox">
			<span>글글글글글글글글글글글글글글글글글글글글글글</span>
		</div>
	</div>
	<div id="noticeFooter">
		<a href="" class="btn">목록으로</a>
		<a href="" class="btn btn_common">수정</a>
		<button  class="btn btn_common">삭제</button>
	</div>
</div>
