<h2 mat-dialog-title *ngIf="isInsertMode">코드 등록</h2>
<h2 mat-dialog-title *ngIf="!isInsertMode">코드 수정</h2>
    <mat-dialog-content [formGroup]="form">
        <mat-checkbox
                color="primary"
                style="margin-left: 15px"
                formControlName="isParentCode"
                #isParentCode
                (click)="disable()"
        >부모코드여부
        </mat-checkbox>
        <br/>
        <mat-form-field appearance="standard">
        <mat-label>코드 아이디</mat-label>
        <input
            matInput
            formControlName="codeId"
            #codeId
        />
        </mat-form-field>
        <br/>
        <mat-form-field appearance="standard">
        <mat-label>코드 이름</mat-label>
        <input
            matInput
            formControlName="codeName" 
            #codeName 
        />
        </mat-form-field>
        <br/>
        <mat-form-field appearance="standard">
        <mat-label>부모 코드 아이디</mat-label>
        <input
            matInput
            formControlName="parentCodeId"
            #parentCodeId
        />
        </mat-form-field>
        <br/>
        <mat-form-field appearance="standard">
        <mat-label>순서</mat-label>
        <input
            matInput
            formControlName="dsplOrder"
            #dsplOrder
        />
        </mat-form-field>
        <br/>
        <mat-checkbox
            color="primary"
            style="margin-left: 15px"
            formControlName="isInUse"
            #isInUse
        >사용여부
        </mat-checkbox>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>취소</button>
      <button *ngIf="isInsertMode"
              type="submit"
              mat-button
              (click)="onSubmit()"
      >생성
      </button>
      <button *ngIf="!isInsertMode"
              type="submit"
              mat-button
              (click)="onSubmit()"
     >수정
     </button>

    </mat-dialog-actions>

