<h2 mat-dialog-title *ngIf="isInsertMode">코드 등록</h2>
<h2 mat-dialog-title *ngIf="!isInsertMode">코드 수정</h2>
    <mat-dialog-content [formGroup]="form">
        <mat-checkbox
                color="primary"
                style="margin-left: 15px"
                formControlName="isParentCode"
                #isParentCode
                (click)="disableParentCodeId()"
        >최상위코드
        </mat-checkbox>
        <br/>
        <mat-form-field appearance="standard">
        <mat-label>코드 아이디</mat-label>
        <input
            matInput
            formControlName="codeId"
            #codeId
        />
        </mat-form-field>
        <br/>
        <mat-form-field appearance="standard">
        <mat-label>코드 이름</mat-label>
        <input
            matInput
            formControlName="codeName" 
            #codeName 
        />
        </mat-form-field>
        <br/>
        <mat-form-field appearance="standard">
        <mat-label>부모 코드 아이디</mat-label>
        <input
            matInput
            formControlName="parentCodeId"
            #parentCodeId
        />
        </mat-form-field>
        <br/>
        <mat-form-field appearance="standard">
        <mat-label>순서</mat-label>
        <input
            matInput
            (keyup)="checkDsplOrder(dsplOrder.value,form.value.isParentCode,parentCodeId.value)"
            formControlName="dsplOrder"
            #dsplOrder
        />
        
        <mat-error *ngIf="form.get('dsplOrder').hasError('checkError')">
        동일 순서를 입력할 수 없습니다.
        </mat-error>
        </mat-form-field>
        <br/>
        <mat-checkbox
            color="primary"
            style="margin-left: 15px"
            formControlName="isInUse"
            #isInUse
        >사용여부
        </mat-checkbox>
    </mat-dialog-content>
    <mat-dialog-actions class="btns">
      <button mat-raised-button
              color="primary" 
              mat-dialog-close>취소
      </button>
      <button mat-raised-button
              color="primary"
              *ngIf="isInsertMode"
              type="submit"
     
              (click)="onSubmit()"
      >생성
      </button>
      <button mat-raised-button
              color="primary"
              *ngIf="!isInsertMode"
              type="submit"
              (click)="onSubmit()"
     >수정
     </button>
    </mat-dialog-actions>

