
<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/logo/logo.gif" style="width: 150px;height: 40px;">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">비밀번호 찾기</h2>
    </div>

    <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px" >
      <div fxFlex="auto" fxLayout="column">

		<mat-form-field *ngIf="display!='block'" fxFlex="grow" appearance="standard">
          <mat-label>ID</mat-label>
          <input #id formControlName="id" matInput required maxlength="20">
          <mat-error *ngIf="form.get('id').hasError('required')">아이디를 입력해 주세요.</mat-error>
        </mat-form-field>

         <mat-form-field *ngIf="display!='block'"  fxFlex="grow" appearance="standard">
            <mat-label>E-Mail</mat-label>
            <input #email formControlName="email" matInput required (keyup.enter)="findPassword(form)">
            <mat-error *ngIf="form.get('email').hasError('required')">이메일을 입력해 주세요.</mat-error>
            <mat-error *ngIf="form.get('email').hasError('email')">이메일 형식에 맞게 입력해 주세요.</mat-error>
            <mat-error *ngIf="form.get('email').hasError('checkError')">아이디,이메일이 일치하지 않습니다.</mat-error>
		  </mat-form-field>
		  
		  <mat-form-field *ngIf="display=='block'" fxFlex="grow" appearance="standard">
          <mat-label>새 비밀번호</mat-label>
          <input #newPassword  [type]="inputType" formControlName="newPassword" matInput required maxlength="20" >
          <mat-error *ngIf="form.get('newPassword').hasError('required')">비밀번호를 입력해 주세요.</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="display=='block'" fxFlex="grow" appearance="standard">
          <mat-label>새 비밀번호(확인)</mat-label>
          <input #newPasswordConfirm [type]="inputType" formControlName="newPasswordConfirm"   matInput required  (keyup.enter)="updatePassword(form)">
           <mat-error>비밀번호가 일치하지 않습니다.</mat-error>
        </mat-form-field>
		  
		  
      </div>

      <div id="buttonWrap">
        <button color="primary" mat-raised-button   (click)="cancel()" >
          취소
        </button>
        <button *ngIf="display!='block'" color="primary" mat-raised-button type="submit"  (click)="findPassword(form)" >
          확인
        </button>
        <button *ngIf="display=='block'" color="primary" mat-raised-button type="button"   (click)="updatePassword(form)">
          확인
        </button>
      </div>
		
    </div>
  </div>
</div>
