.mat-form-field{
    margin : 10px auto;
    width: 100%;
}
.button-outline{
    float:right;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
   
}


.close_btn{
	width: 20px;
	border:1px solid #bbc2d3;
	margin-right: 20px;
}

button{
    margin: 0px 9px;
}

#defaultPathWrap{
	width: 80%;
	margin :30px auto;
    padding-top: 10px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#defaultFormWrap{
    width: 60%;
    margin: auto;
}



.get_btn{
    float:right;
    right : 280px;
}

.reset_btn{
    float:right;
    right : 280px;
}