<div class="notice-outline">
	<div class="header-outline">
		<h2>공지사항</h2>
		<button id="writeBtn" routerLink="write" class="btn">글쓰기</button>
	</div>
	

	<div id="searchBox">
		<!-- <mat-form-field class="select-field">
			<select matNativeControl required>
			<mat-label>분류</mat-label>
				<option value="title">제목</option>
				<option value="nickname">작성자</option>
			</select>
		</mat-form-field> -->
			<input name="word">
			<button id="searchBtn"  class="btn">검색</button>
	</div>
<table id="boardTable">
	<thead>
		<tr>
			<th style="width:10%">번호</th>
			<th class="left_border" style="width:65%">제목</th>
			<th class="left_border" style="width:10%">작성자</th>
			<th class="left_border" style="width:20%">작성일</th>
		</tr>
	</thead>
	<tbody>
		<tr>
				<td>2</td>
				<td class="left_border">테스트입니다</td>
				<td class="left_border">나혁진</td>
				<td class="left_border">2022-02-02</td>
		</tr>
		<tr>
				<td>1</td>
				<td class="left_border">테스트입니다.테스트입니다.테스트입니다.테스트입니다.테스트입니다.테스트입니다.테스트입니다.</td>
				<td class="left_border">나혁진</td>
				<td class="left_border">2022-02-02</td>
		</tr>

		
	</tbody>
</table>

</div>