#boardWrap {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#teamWrap {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  margin: 65px 0 0 -100px;
  overflow-x: scroll;
}
#teamWrap button {
  width: 60px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
#teamWrap button:hover {
  text-shadow: 0px 0px 2px white;
}
#teamWrap button.on {
  text-shadow: 0px 0px 2px white;
}

#teamWrap button:first-child {
  padding-left: 10px;
  border-left: 1px solid #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#teamWrap button:last-child {
  padding-right: 10px;
  border-right: 1px solid #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.select-field {
  width: 10em;
}
.search-field {
  width: 28em;
}
#searchBox {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

tbody tr {
  cursor: pointer;
}
button {
  height: 3em;
  width: 10%;
}
.search_btn {
  margin: 0.8em 0em 0em 15px;
}
.write_btn {
  margin: 0.8em 0em 0em 460px;
}
.overflow-auto {
  overflow: hidden !important;
}
#paginate {
  width: 500px;
  height: 100px;
  margin-top: 30px;
  float: right;
  text-align: right;
}
.mat-select-placeholder {
  color: black;
}
.mat-form-field {
  margin-bottom: 20px;
}
.-mt-16 {
  margin-top: -4rem;
}

#item {
  float: right;
  margin-top: 5px;
}
#item select {
  width: 50px;
}
.bg-app-bar {
  background: white !important;
}
