	#boardWrap{
		padding: 4em;
	}
	#boardWrap p{
		font-weight: 600;
		font-size: 1.7em;
	}
	
	#boardTable{
		width:100%;
		text-align:center;
		margin: auto;
	}
	.select-field{
		width:10em;
		
	}
	.search-field{
		margin: 0em 1em 0em 1em;
    	width: 28em;
	}
	#searchBox{
		margin-top: 30px;
		display: flex;
    justify-content: space-between;
	}

	#boardTable th{
		height:50px;
		vertical-align: middle;
		border-top: 2px solid #2c3e7e;
		border-bottom: 1px solid #d5d5db;
		background-color: #f2f4fb;
		color:#103581;
	}

	.left_border{
		border-left:1px solid #d5d5db;
	}

	#boardTable td{
		height:100px;
		vertical-align: middle;
		border-bottom: 1px solid #d5d5db;
	}

	tbody tr{
		cursor:pointer;
	}
	button{
		height: 3.5em;
		width: 10%;
	}
	.write_btn{
		margin: 0em 0em 0em 14em;
	}
	