	.header-outline{
		 padding: 0em 0em 2em 0em;
	}

	#boardTable{
		width:1000px;
		text-align:center;
		margin: 40px auto;
	}

	#boardTable th{
		height:50px;
		vertical-align: middle;
		border-top: 2px solid #2c3e7e;
		border-bottom: 1px solid #d5d5db;
		background-color: #f2f4fb;
		color:#103581;
	}

	.left_border{
		border-left:1px solid #d5d5db;
	}

	#boardTable td{
		height:100px;
		vertical-align: middle;
		border-bottom: 1px solid #d5d5db;
	}

	#writeBtn{
		position:relative;
		left:950px;
		width:100px;
		height:35px;
		cursor: pointer;
	}
	
	#searchBox{
		margin:30px auto;
		width:600px;
		height:80px;
	}

	#searchBox select,#searchBox input,#searchBox button{
		position: relative;
	}

	#searchBox select,#searchBox button{
		width:50px;
		height: 52px;
	}

	#searchBox select, #searchBox input{
		border:1px solid #bbc2d3;
	}

	#searchBox select{
		width:70px;
		margin-left: 150px;
		cursor: pointer;
	}

	#searchBox input{
		top:-1.5px;
		padding:0;
		height: 50px;
		display: inline-block;
		vertical-align: middle;
	}

	#searchBox button{
		top:-0.5px;
		width:58px;
	}
	
	tbody tr{
		cursor:pointer;
	}
	
	.btn{
		background-color: #2c3e7e;
		color:#fff;
	}

	.notice-outline{
		padding:4em;
	}