.textarea {
  resize: none;
  height: 80px;
}
.field {
  width: 450px;
}
.btns {
  display: flex;
  justify-content: space-between;
}

#external {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 20px;
  width: 160px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.app-calendar {
  position: relative;
  z-index: 1;
  padding-left: 200px;
}

.fc-event {
  cursor: pointer;
  border: none;
  margin-top: 5px;
  background: none;
  text-indent: 3px;
}

.mine {
  cursor: pointer;
  background-color: rgba(59, 130, 246);
  margin-top: 20px;
}

.complete {
  cursor: pointer;
  background-color: grey;
}

.md-18 {
  font-size: 12px;
  margin-right: 5px;
}

.arrow {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}

.update {
  display: flex;
  justify-content: flex-end;
}

.table {
  width: 450px;
  border: 1px;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.tbody {
  border: none;
  border-bottom: 1px solid #dee2e6;
}

.has-fixed-footer {
  .content {
    margin-bottom: 0px;
  }
}
