#noticeWrap{
		width: 80%;
		margin :auto;
	}
h2{
	margin:100px 0 0 20px;
}
#titleWrap{
	width: 100%;
	height: 70px;
	margin: auto;
	// background-color: blue;
}
#fileWrap{
	width:100%;
	margin:auto;
	// background-color: red;
}
#contentWrap{
	width: 100%;
	height: 500px;
	margin: auto;
	// background-color: black;
}
#contentWrap textarea{
	height:400px;
	resize: none;;
}
#fileLabel{
	padding:10px;
	cursor: pointer;
	border: 1px solid #d5d5db;
}
#fileBox{
	width: 100%;
	height: 220px;
	margin: 20px auto 0 auto;
	border: 1px solid #d5d5db;
	overflow-y: scroll;
}
#buttonWrap{
	width: 100%;
	margin: auto;
	text-align: center;
}
#buttonWrap button{
	width: 120px;
	height: 50px;
	margin:0 80px;
	border:1px solid #bbc2d3;
}
.close_btn{
	width: 20px;
	border:1px solid #bbc2d3;
	margin-right: 20px;
}
#fileBox ul{
	margin-left: 10px;
	margin-top:10px;
}
#fileBox li{
	margin-top:10px;
}	