<vex-secondary-toolbar current="공지사항 등록">
  <vex-breadcrumbs [crumbs]="['Notice-write']"></vex-breadcrumbs>
</vex-secondary-toolbar>
<div id="noticeWrap">
	<div id="formGroup" [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
		<div id="titleWrap" fxFlex="auto" fxLayout="column">
			<mat-form-field fxFlex="grow" appearance="standard">
				<mat-label>제목:</mat-label>
				<input  *ngIf="boardNo==null" formControlName="title" matInput maxlength="34">
				<input *ngIf="boardNo!=null" formControlName="title"  #title [(ngModel)]="notice.title" matInput maxlength="34">
			</mat-form-field>
		</div>

		<div id="fileWrap">
			<div>
				<input type="file" multiple id="file" #fileUploader (change)="selectFiles($event)" style="display: none;">
				<label id="fileLabel" for="file">파일 선택</label>
			</div>
			<div *ngIf="display=='block'" id="fileBox">
				<ul>
					<li *ngFor="let file of files" ><button  (click)="close(this,$event.srcElement.parentElement.textContent)" class="close_btn">x</button>{{file.name}}</li>
				</ul>
			</div>
		</div>


		<div id="contentWrap">
			<quill-editor @fadeInUp formControlName="content"  [styles]="{ flex: '1 1 auto' }" [(ngModel)]="notice.content">
		</quill-editor>
		</div>

		<div id="buttonWrap">
			<button color="primary" mat-raised-button (click)="cancel()">취소</button>
			<button color="primary" mat-raised-button  *ngIf="boardNo==null" (click)="insert(form)">등록</button>
			<button color="primary" mat-raised-button  *ngIf="boardNo!=null" (click)="update(form)">수정</button>
		</div>
	</div>
</div>
<div id="loader" [ngClass]="status=='wait'?'on':'off'"></div>

