
  .bg-app-bar {
    background: white !important;
  }

  
 
  .select-field {
    width: 10em;
  }
  .search-field {
    width: 28em;
  }
  #searchBox {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  tbody tr {
    cursor: pointer;
  }
  .search_btn,  .register_btn  {
    height: 3em;
    width: 10%;
  }
  .search_btn {
    margin: 0.8em 0em 0em 15px;
  }
  .register_btn {
    margin: 0.8em 0em 0em 460px;
  }
  .overflow-auto {
    overflow: hidden !important;
  }
 
  .mat-select-placeholder {
    color: black;
  }
  .mat-form-field {
    margin-bottom: 20px;
  }
  .-mt-16 {
    margin-top: -4rem;
  }
  
  #item {
    float: right;
    margin-top: 15px;
  }
  #item select {
    width: 50px;
  }
  .bg-app-bar {
    background: white !important;
  }
  
  