<table id="boardTable" class="table table-striped">
    <thead>
        <tr>
            <th style="width:15%">코드 아이디</th>
            <th style="width:50%">코드 이름</th>
            <th style="width:15%">부모 코드 아이디</th>
            <th style="width:20%">사용여부</th>
            <th style="width:20%">순서</th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let codeMgmt of codeMgmts">
                <td>
                <button (click)="toggleChildCodes(codeMgmt.codeId)" id="bt">
                    버튼
                </button>
                {{codeMgmt.codeId}}
                </td>
                <td>{{codeMgmt.codeName}}</td>
                <td>{{codeMgmt.parentCodeId}}</td>
                <td>{{codeMgmt.codeUseYN}}</td>
                <td>{{codeMgmt.dsplOrder}}</td>
        </tr>
        <ng-container *ngIf="show">
            <tr *ngFor="let childCodeMgmt of childCodeMgmts">
                <td> {{childCodeMgmt.codeId}}</td>
                <td>{{childCodeMgmt.codeName}}</td>
                <td>{{childCodeMgmt.parentCodeId}}</td>
                <td>{{childCodeMgmt.codeUseYN}}</td>
                <td>{{childCodeMgmt.dsplOrder}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>