<vex-page-layout>
	<vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
    <div [class.container]="layoutCtrl.value === 'boxed'"
         [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
         class="w-full flex flex-col sm:flex-row justify-between">
        <div>
            <h1 class="title mt-0 mb-1">코드관리</h1>
            <vex-breadcrumbs [crumbs]="['Code Management']"></vex-breadcrumbs>
	    </div>
    </div>
    </vex-page-layout-header>
    <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
                             [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
						     class="-mt-6">
                         
    <button (click)="openInsertCodeDialog()">코드등록</button>
    <table id="boardTable" class="table table-striped">
        <thead>
        <tr>
            <th style="width:10%"></th>
            <th style="width:15%">코드 아이디</th>
            <th style="width:30%">코드 이름</th>
            <th style="width:15%">부모 코드 아이디</th>
            <th style="width:10%">사용여부</th>
            <th style="width:10%">순서</th>
            <th style="width:5%"></th>
            <th style="width:5%"></th>
        </tr>
        </thead>
        <tbody *ngFor="let codeMgmt of codeMgmts; let i = index">
        <tr>
            <td align="center">  
                <a (click)="toggleChildCodeList(i,codeMgmt.codeId)" class="expand-row" *ngIf="!hideme[i]">  
                <img src="../../assets/img/plus.png" width="24"/>  
                </a>  
                <a class="expand-row" *ngIf="hideme[i]" (click)="hideme[i] = !hideme[i]"> 
                <img src="../../assets/img/minus.png" width="24"/>  
                </a> 
            </td>
            <td>{{codeMgmt.codeId}}</td>
            <td>{{codeMgmt.codeName}}</td>
            <td>{{codeMgmt.parentCodeId}}</td>
            <td>{{codeMgmt.codeUseYN}}</td>
            <td>{{codeMgmt.dsplOrder}}</td>
            <td><button (click)="openUpdateCodeDialog(codeMgmt.codeId)"><img src="../../assets/img/edit.png" width="16"/></button></td>
            <td><button (click)="deleteCode(codeMgmt.codeId)"><img src="../../assets/img/delete.png" width="16"/></button></td>
        </tr>
        <tr [hidden]="!hideme[i]" >
            <td align="center"> </td>
                <td colspan="15">
                <table>
                    <thead>
                        <tr>
                            <th>코드 아이디</th>
                            <th>코드 이름</th>
                            <th>부모 코드 아이디</th>
                            <th>사용여부</th>
                            <th>순서</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>  
                        <tr *ngFor="let childCodeMgmt of childCodeMgmts">
                            <td>{{childCodeMgmt.codeId}}</td>
                            <td>{{childCodeMgmt.codeName}}</td>
                            <td>{{childCodeMgmt.parentCodeId}}</td>
                            <td>{{childCodeMgmt.codeUseYN}}</td>
                            <td>{{childCodeMgmt.dsplOrder}}</td>
                            <td><button (click)="openUpdateCodeDialog(childCodeMgmt.codeId)"><img src="../../assets/img/edit.png" width="16"/></button></td>
                            <td><button (click)="deleteCode(childCodeMgmt.codeId)"><img src="../../assets/img/delete.png" width="16"/></button></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</vex-page-layout-content>
</vex-page-layout>
