<div class="outline">
    <h2 id="Script_List" #listTitle>배포이력 스크립트</h2>
    <div>
        <button mat-stroked-button (click)="downloadZip(deployNo)">zip</button>
        <button mat-stroked-button (click)="exportAsXLSX(listTitle.id)">excel</button>
        <button mat-stroked-button mat-dialog-close>취소</button>
    </div>
    <div>
        <!-- <div>{{scriptView.title}}</div>
        <div>{{scriptView.content}}</div> -->
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>구분</th>
                <th>타입</th>
                <th>소스경로</th>
                <th>디렉토리생성</th>                
                <th>백업스크립트(운영)</th>
                <th>운영파일반영스크립트</th>
                <th>원복스크립트</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let scriptView of scriptViews | paginate: {itemsPerPage: itemsPerPage , currentPage: p, totalItems: totalItems}">
                <td>{{scriptView.scriptNo}}</td>
                <td>{{scriptView.fileType}}</td>
                <td>{{scriptView.localPath}}</td>
                <td>{{scriptView.directoryPath}}</td>
                <td>{{scriptView.backupScript}}</td>
                <td>{{scriptView.reflectScript}}</td>
                <td>{{scriptView.rollbackScript}}</td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="getPage(p =$event)"></pagination-controls>
</div>
