<vex-page-layout>
        <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
            <div [class.container]="layoutCtrl.value === 'boxed'"
                 [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
                 class="w-full flex flex-col sm:flex-row justify-between">
                <div>
                    <h1 class="title mt-0 mb-1">배포이력 스크립트</h1>
                    <vex-breadcrumbs [crumbs]="['Deploy-Script']"></vex-breadcrumbs>
                </div>
            </div>
        </vex-page-layout-header>

        <vex-page-layout-content>
            <div class="card overflow-auto -mt-16">
                <div class="bg-app-bar px-6 h-16 sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                        <div>    
                            <div class="content-outline">
                                <div class="deploy-content">
                                    <p class="deploy-title">제목</p>  
                                    <h6 #listTitle id={{deploy.deployTitle}}>{{deploy.deployTitle}}</h6>
                                </div>   
                                <div class="deploy-content">
                                    <p class="deploy-title title-extra">작성자</p>
                                    <h6>{{deploy.writer}}</h6>
                                </div>
                                <div class="deploy-content">
                                    <p class="deploy-title title-extra">작성일</p>
                                    <h6>{{deploy.deployDate}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="btn-outline">
                            <div class="fileBtn"  *ngIf="zipName !== undefined"> 
                                <a href="http://localhost:8080/file/files/{{zipName}}">zip</a>
                            </div>
                            <button *ngIf="zipName !== undefined" color="primary" mat-raised-button (click)="exportAsXLSX(listTitle.id)">excel</button>
                            <button color="primary" mat-raised-button (click)="cancel()">목록</button>
                        </div>
                </div>
            </div>
            <div class="card overflow-auto -mt-16" style="margin-top: 1em;" >
                <div class="bg-app-bar px-6 h-16 sticky left-0  outline-extra" fxLayout="row" fxLayoutAlign="start center">
                    <div> 
                        <div class="deploy-content content-extra">
                            <p class="deploy-title">내용</p>
                            <h6>{{deploy.deployContent}}</h6>
                        </div> 
                    </div> 
                </div> 
            </div>

            <div id = "deployContent">
                <div id = "fileBox">
                    <ul>
                        <li *ngFor = "let file of files"><a href="http://localhost:8080/file/files/{{file.name}}">{{file.name}}</a></li>
                    </ul>
                </div>
            </div>
     <div *ngIf="zipName !== undefined">       
        <div id="scriptWrap">       
            <table class="table w-full" >
                <thead>
                    <tr>
                        <th style="width: 5%;">구분</th>
                        <th style="width: 5%;">타입</th>
                        <th style="width: 10%;">소스경로</th>
                        <th style="width: 10%;">디렉토리생성</th>                
                        <th style="width: 10%;">백업스크립트(운영)</th>
                        <th style="width: 10%;">운영파일반영스크립트</th>
                        <th style="width: 10%;">원복스크립트</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let scriptView of scriptViews | paginate: {itemsPerPage: itemsPerPage , currentPage: p, totalItems: totalItems}">
                        <td>{{scriptView.category}}</td>
                        <td>{{scriptView.fileType}}</td>
                        <td>{{scriptView.localPath}}</td>
                        <td>{{scriptView.directoryPath}}</td>
                        <td>{{scriptView.backupScript}}</td>
                        <td>{{scriptView.reflectScript}}</td>
                        <td>{{scriptView.rollbackScript}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="paginate-box">
            <pagination-controls (pageChange)="getPage(p =$event)" previousLabel="" nextLabel="" responsive="true">
            </pagination-controls>
        </div>

        <div id="item">
            Items per Page:
            <select (change)="handlePageSizeChange($event)">
                <option *ngFor="let itemsPerPage of itemsPerPages" >
                {{ itemsPerPage }}
                </option>
            </select>
        </div> 
    </div>
    </vex-page-layout-content>
</vex-page-layout>