<div class="schedule">
  <h4>오늘의 일정</h4>
  <mat-form-field appearance="standard">
    <mat-label>팀</mat-label>
    <mat-select [formControl]="teamControl" (selectionChange)="changeTeam()">
      <mat-option *ngFor="let team of teamList" [value]="team.codeName">
        {{ team.codeName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <table>
      <thead>
        <tr>
          <th>이름</th>
          <th>개수</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of teamUser">
          <td *ngIf="user.id == loginUser.id">본인</td>
          <td *ngIf="user.id == loginUser.id">{{ user.count }}</td>
          <td *ngIf="user.id != loginUser.id">{{ user.name }}</td>
          <td *ngIf="user.id != loginUser.id">{{ user.count }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
