.schedule td {
  width: 60px;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #dee2e6;
}

.schedule th {
  border-top: 1px solid #dee2e6;
  height: 30px;
  line-height: 30px;
}

.schedule tr:nth-child(2) > th:first-child,
.schedule td:first-child {
  border-right: 1px solid #dee2e6;
}

.schedule {
  width: 300px;
  text-align: center;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 24px 0 0 24px;
  float: left;
  background-color: white;
}

.schedule table {
  width: 300px;
}

.schedule h4 {
  background: linear-gradient(to top, #ffe400 50%, transparent 50%);
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
}

#notice {
  float: left;
  width: 800px;
  margin-top: 24px;
  margin-left: 60px;
  // border-radius: 5px;
  //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#notice #noticeTable{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#notice .notice_title {
  min-width: 60%;
}

#notice .notice_writer,
#notice .notice_team {
  max-width: 20%;
  justify-content: center;
}

#notice mat-header-cell {
  color: white;
  font-weight: bold;
  font-size: 14px;
  background-color: rgb(var(--color-primary));
}

#notice mat-cell {
  cursor: pointer;
}
