.schedule td {
  width: 60px;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #dee2e6;
}

.schedule th {
  border-top: 1px solid #dee2e6;
  height: 30px;
  line-height: 30px;
}

.schedule {
  width: 400px;
  text-align: center;
  border: 1px solid #dee2e6;
  height: 380px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 24px 0 0 24px;
  float: left;
  background-color: white;
  --tw-shadow: var(--elevation-z8);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.schedule table {
  width: 400px;
}

.schedule h4 {
  background: linear-gradient(to top, #ffe400 50%, transparent 50%);
  width: 110px;
  margin: 0 auto;
  margin-top: 20px;
  font: 500 18px/26px var(--font);
  letter-spacing: -0.014em;
}

#notice {
  float: left;
  width: 700px;
  margin-top: 24px;
  margin-left: 60px;
  user-select: none;
  height: 380px;
}

#notice .notice_title {
  min-width: 58%;
}

#notice .notice_writer,
#notice .notice_team,
#notice .notice_regdate {
  max-width: 14%;
  justify-content: center;
}

#notice mat-header-cell {
  font-weight: bold;
  font-size: 14px;
}

#notice mat-cell {
  cursor: pointer;
}

.count {
  cursor: pointer;
}

.count:hover {
  color: #5c77ff;
  text-decoration: underline;
}

.card {
  border-radius: 0;
}
