td {
  width: 60px;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #dee2e6;
}

th {
  border-top: 1px solid #dee2e6;
  height: 30px;
  line-height: 30px;
}

tr:nth-child(2) > th:first-child,
td:first-child {
  border-right: 1px solid #dee2e6;
}

.schedule {
  width: 300px;
  text-align: center;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  margin-top: 24px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
<<<<<<< HEAD
  float: left;
=======
  margin: 24px 0 0  24px;
  position: absolute;

>>>>>>> b37cd476c26dce8b41d359d1020a1a2bef3d4107
}

table {
  width: 300px;
}

h4 {
  background: linear-gradient(to top, #ffe400 50%, transparent 50%);
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
}

#notice{
  float: left;
  width: 800px;
  margin-top: 24px;
  margin-left: 60px;
  border: 1px solid #dee2e6;
  border-radius: 10px;
}

#notice table{
  width: 800px;
}

#noticeTable th{
  border-top:none;
  height: 40px;
  line-height: 40px;
}

#noticeTable td{
  height: 60px;
  line-height: 50px;
  border-right:none;
}

