<h2 mat-dialog-title>{{ data.name }} 님 일정 등록</h2>
<div mat-dialog-content>
  <form>
    <span>시작 날짜 : </span>
    <input type="date" name="startDate" [(ngModel)]="schedule.startDate" />
    <input
      type="time"
      name="startTime"
      [(ngModel)]="schedule.startTime"
      [disabled]="isDisabled"
    />
    <br />
    <span>완료 날짜 : </span>
    <input type="date" name="endDate" [(ngModel)]="schedule.endDate" />
    <input
      type="time"
      name="endTime"
      [(ngModel)]="schedule.endTime"
      [disabled]="isDisabled"
    />
    <input
      type="checkbox"
      id="allDay"
      name="allDay"
      [(ngModel)]="schedule.allDay"
      (click)="disable()"
    />
    <label for="allDay">종일</label>
    <br />

    <mat-form-field>
      <mat-label>일정 제목</mat-label>
      <input
        [(ngModel)]="schedule.scheduleTitle"
        matInput
        name="scheduleTitle"
      />
    </mat-form-field>
    <br />

    <span>일정 내용</span>
    <br />
    <textarea
      name="scheduleContent"
      [(ngModel)]="schedule.scheduleContent"
    ></textarea>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>취소</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>등록</button>
</div>
