<h2 mat-dialog-title>{{ data.name }} 님 일정 등록</h2>
<div mat-dialog-content>
  <form>
    <mat-form-field appearance="standard">
      <mat-label>시작 날짜</mat-label>
      <input
        matInput
        type="date"
        name="startDate"
        [(ngModel)]="schedule.startDate"
      />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input
        matInput
        type="time"
        name="startTime"
        [(ngModel)]="schedule.startTime"
        [disabled]="isDisabled"
      />
    </mat-form-field>
    <br />

    <mat-form-field appearance="standard">
      <mat-label>완료 날짜</mat-label>
      <input
        matInput
        type="date"
        name="endDate"
        [(ngModel)]="schedule.endDate"
      />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input
        matInput
        type="time"
        name="endTime"
        [(ngModel)]="schedule.endTime"
        [disabled]="isDisabled"
      />
    </mat-form-field>

    <mat-checkbox
      color="primary"
      name="allDay"
      [(ngModel)]="schedule.allDay"
      (click)="disable()"
      style="margin-left: 15px"
      >종일
    </mat-checkbox>
    <br />

    <mat-form-field appearance="standard" class="field">
      <mat-label>일정 제목</mat-label>
      <input
        [(ngModel)]="schedule.scheduleTitle"
        matInput
        name="scheduleTitle"
      />
    </mat-form-field>
    <br />

    <mat-form-field appearance="standard" class="field">
      <mat-label>일정 내용</mat-label>
      <textarea
        class="textarea"
        matInput
        name="scheduleContent"
        [(ngModel)]="schedule.scheduleContent"
      ></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>취소</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>등록</button>
</div>
