.file-outline{
    display: flex;
    justify-content: space-between;
}
.button-outline{
    float:right;
    margin-top: 0.5em;
}
p{
    font-size: 1.7em;
    font-weight: 600;
    padding: 0em 0em 2em 0em;
}
.deploy-outline{
    padding: 4em;
}
