<vex-secondary-toolbar current="배포이력 등록">
    <vex-breadcrumbs [crumbs]="['Deploy-Write']"></vex-breadcrumbs>
  </vex-secondary-toolbar>
<div id="deployWrap">
    <div class="p-6" fxLayout="column" fxLayoutGap="16px">
        <form [formGroup]="deployForm" class="form-outline">
            <mat-form-field class="block" appearance="standard">
                <mat-label>제목</mat-label>
                <input #deployWriteTitle formControlName="deployWriteTitle" maxlength="33" matInput>
                <mat-error *ngIf="deployForm.get('deployWriteTitle').hasError('required')">제목을 입력해 주세요</mat-error>
            </mat-form-field>    
            <mat-form-field class="block">
                <mat-label>내용</mat-label>
                <textarea cdkTextareaAutosize cdkAutosizeMinRows="3" 
                #deployWriteContent formControlName="deployWriteContent" 
                maxlength="166" matInput></textarea>
                <mat-error *ngIf="deployForm.get('deployWriteContent').hasError('required')">내용을 입력해 주세요</mat-error>
            </mat-form-field>
            <mat-form-field class="block">
                <mat-label>portal</mat-label>
                <textarea cdkTextareaAutosize cdkAutosizeMinRows="3" 
                #portalScript formControlName="portalScript" matInput></textarea>
                <mat-error *ngIf="deployForm.get('portalScript').hasError('pattern')">스크립트를 올바르게 입력해 주세요</mat-error>
            </mat-form-field>
            <mat-form-field class="block">
                <mat-label>tbwapp</mat-label>
                <textarea cdkTextareaAutosize cdkAutosizeMinRows="3" 
                #tbwappScript formControlName="tbwappScript" matInput></textarea>
                <mat-error *ngIf="deployForm.get('portalScript').hasError('pattern')">스크립트를 올바르게 입력해 주세요</mat-error>
            </mat-form-field>
            <mat-form-field class="block">
                <mat-label>center</mat-label>
                <textarea cdkTextareaAutosize cdkAutosizeMinRows="3" 
                #centerScript formControlName="centerScript" matInput></textarea>
                <mat-error *ngIf="deployForm.get('portalScript').hasError('pattern')">스크립트를 올바르게 입력해 주세요</mat-error>
            </mat-form-field>

            <div id = "fileWrap">
                <div>
                    <input type="file" multiple id="file" (change)="selectFiles($event)" style="display: none;" accept=".jar">
                    <label id="fileLabel" for="file">파일 선택</label>
                </div>
                <div *ngIf="display=='block'" id="fileBox">
                    <ul>
                        <li *ngFor="let file of files" ><button (click)="close(this,$event.srcElement.parentElement.textContent)" class="close_btn">x</button>{{file.name}}</li>
                    </ul>
                </div>
            </div>
            
            <div class="button-outline">
                <button (click)="cancel()" mat-flat-button color="primary">취소</button>
                <button (click)="send(deployForm,deployWriteTitle,deployWriteContent,portalScript,tbwappScript,centerScript,files)" mat-flat-button color="primary">배포이력등록</button>
            </div>
        </form>
    </div>
</div>
